body {
    background-image: url('running-track-cropped.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

input {
    width: 20px;
    margin: 4px;
    border: none;
    border-radius: 3px;
    padding: 1px 4px;
}

.info-input {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.info-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    text-align: center;
}

.timer {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    margin-top: 50%;
}

.run-time {
    padding: 10px;
    background-color: white;
    border-radius: 9px;
    font-size: 49px;
    line-height: .75;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
}

.start, .reset {
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: large;
    width: 78px;
    margin: 3px;
}

.rnd-display {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    margin: 5px;
}

.remove-rnd {
    display: none;
}

@media (min-width: 520px) {
    .timer {
        justify-content: center;
        margin-top: 0;
    }
}